@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@8..144,400..700&display=swap');
@import "tailwindcss";

@theme {
  /* FIX: Changed from --font-family-sans to --font-sans */
  --font-sans: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #101010;
  /* Apply it here directly to the body */
  font-family: "Google Sans Flex", sans-serif;
}